<div class="container">
    <div class="title">
        <span>My Portfolio</span>
    </div>

    <div class="wrapper">
        <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Zuhair Abbas</span><br>
        <ul class="dynamic-txts">
            <li><span>Software Engineer</span></li>
            <li><span>Full Stack Developer</span></li>
            <li><span>Web Developer</span></li>
            <li><span>Photographer</span></li>
       </ul>
   </div>


   </div>
         <div class="profile">
             <div class="profile-bg"></div>
              <img src="../../assets/Sundar-Pichar-Profile-Square.png" alt="">
         </div>
</div>
  