<div class="container">
    <h1>Contact</h1>

    <!-- <ul class="social-media">
        <li><i class='bx bxl-gmail'></i></li>
        <li><i class='bx bxl-facebook-circle'></i></li>
        <li><i class='bx bxl-instagram'></i></li>
    </ul> -->

    <div class="social-media">
         <div class="linkedin">
            <a href="https://www.linkedin.com/in/zuhair-abbas-31b74012a/">
           <img src="../../assets/Linkedin2.png" alt="">
        </a>
         </div>
        <div class="Leetcode">
            <a href="https://leetcode.com/zuhair4/">
                <img src="../../assets/Leetcode3.png" alt="">
             </a>
        </div>
    </div>
 
    <ul class="contact-info">
        <li>Mobile: 7011306929</li>
        <li>syedabbassd6575@gmail.com </li>
    </ul>
</div>